li{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
}
.btn-secondary{
    position: absolute;
    right: 4vw;
    top: 18vh;
}
@media screen and (min-width: 300px) {
   .btn-secondary{
    position: absolute;
    top: 90vh;
    right: 13vw;
   }
  }